.ItemDetail__Logo {
   padding: 20px 0 10px 0;
   width: 100%;
   height: 50%;
   margin: 0 auto;
}

.ItemDetail__Logo img {
   width: 100%;
   height: 100%;
   border-radius: 10px;
}

/* Item's Name */
.ItemDetail__Name {
   margin-bottom: 10px;
}
.ItemDetail__Name h2 {
   font: 600 36px var(--fontFamily);
   letter-spacing: 0.5px;
}

/* Item's Description */
.ItemDetail__Desc p {
   text-align: justify;
   font: 400 16px var(--fontFamily);
   letter-spacing: 0.5px;
   line-height: 24px;
}
